/* Write your CSS code here */
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-image {
  height: 100px;
  width: 100px;
}
.name {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 600;
  color: #12022f;
}
.designation {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #616e7c;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .user-image {
    width: 150px;
    height: 150px;
  }
  .name {
    font-size: 26px;
  }
  .designation {
    font-size: 18px;
  }
}
